@import "tools/extends";

@import "objects/forms";

@import "components/login";

$banner-height: 60px;
$banner-color: #57d58d;
$padding: 16px;


.main {
  padding-bottom: $banner-height;
}

.course-title {
  margin-bottom: $padding;
  .btn {
    width: 100%;
  }
}

.icons-row {
  margin-bottom: $padding;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  .course-title {
    display: table;
    width: 100%;
    .col-xs-12 {
      display: table-cell;
      float: none;
      vertical-align: middle;
    }
  }
}

.course-info {
  margin-bottom: $padding;
}

.content {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.content {
  span {
    display: table-cell;
    text-align: center;
  }
}

#signup-banner {
  position: fixed;
  height: $banner-height;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: $banner-color;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 1.5em;
    margin: 0;
  }
}

.tour {
  .popover-navigation {
    text-align: right;
    .btn[data-role="end"] {
      float: none;
    }
  }
  i {
    padding: 10px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.thumbnail {
  height: 250px;
  img {
    height: 130px;
  }
  .caption {
    height: 130px;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 40px);
    p {
      height: 80px;
      overflow: hidden;
    }
    .progress {
      position: absolute;
      width: calc(100% - 20px);
      bottom: 0;
    }
  }
}

.btn-new {
  width: 100%;
  height: 250px;
}

#search-input {
  width: 100%;
  margin-bottom: $padding;
}

.sweet-alert {
  padding-bottom: 0px !important;
  overflow: scroll;
  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .at-form {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    .at-title {
      display: none;
    }
    #at-btn {
      margin: 10px 0 0;
    }
    input {
      display: block;
      height: 34px;
      font-size: 14px;
      margin-top: 0px;
      margin-bottom: 5px;
    }
  }
  & > fieldset {
    display: none;
  }
}

.lecture-title {
  display: inline-block;
}
