<template name="coursePage">
  {{#with course}}
    <div class="row">
      <div class="col-xs-12">
        <h3>{{name}}</h3>
      </div>
      <div class="col-xs-6 col-sm-8">
        {{> progress}}
      </div>
      <div class="col-xs-6 col-sm-4">
        <div class="content">
          <span><i class="fa fa-video-camera"></i></span>
          <span><i class="fa fa-sticky-note-o"></i></span>
          <span><i class="fa fa-list"></i></span>
        </div>
        <i class="fa fa-gear pull-right"></i>
      </div>
    </div>

    <ul class="list-group">
      {{#each lectures}}
        {{> lectureItem}}
      {{/each}}
    </ul>
  {{/with}}
</template>

<template name="progress">
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}};">
      {{progress}}
    </div>
  </div>
</template>

<template name="lectureItem">
  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-6 col-sm-8">
        <a href="{{pathFor 'lecture' id=id}}">{{name}}</a>
      </div>
      <div class="col-xs-6 col-sm-4">
        <div class="content">
          <span><input name="video" type="checkbox" {{videoDone}} /></span>
          <span><input name="reading" type="checkbox" {{readingDone}} /></span>
          <span><input name="exercise" type="checkbox" {{exerciseDone}} /></span>
        </div>
      </div>
    </div>
  </li>
</template>
