<template name="coursePage">
  {{#with course}}
    <div class="row course-title">
      <div class="col-xs-12 col-sm-10">
        <h3>{{name}}</h3>
      </div>
      <div class="col-xs-12 col-sm-2">
        {{#if isLearning}}
          <button type="button" class="btn btn-default">
            <i class="fa fa-times"></i> Archive
          </button>
        {{else}}
          <button type="button" class="btn btn-success">
            <i class="fa fa-plus"></i> Start learning
          </button>
        {{/if}}
      </div>
    </div>
    <div class="row course-info">
      <div class="col-xs-12">
        {{> progress}}
      </div>
      <div class="col-xs-6">
        <img src="{{img}}" alt="{{name}}" class="img-responsive"/>
      </div>
      <div class="col-xs-6">
        <div class="list-group">
          <a href="{{pathFor 'course' id=_id}}" class="list-group-item">Lectures</a>
          <a href="{{pathFor 'course' id=_id section='readings'}}" class="list-group-item">Readings</a>
          <a href="{{pathFor 'course' id=_id section='assignments'}}" class="list-group-item">Assignments</a>
          <a href="{{pathFor 'course' id=_id section='exams'}}" class="list-group-item">Exams</a>
        </div>
      </div>
    </div>

    <ul class="list-group">
      {{> UI.dynamic template=sectionList}}
    </ul>
  {{/with}}
</template>

<template name="lectureList">
  <div class="row icons-row">
    <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8">
      <div class="content">
        <span><i class="fa fa-video-camera"></i></span>
        <span><i class="fa fa-sticky-note-o"></i></span>
        <span><i class="fa fa-list"></i></span>
      </div>
      <!-- <i class="fa fa-gear pull-right"></i> -->
    </div>
  </div>
  {{#each lectures}}
    {{> lectureItem}}
  {{/each}}
</template>

<template name="assetList">
  <div class="row icons-row">
    <div class="col-xs-3 col-xs-offset-9 col-sm-2 col-sm-offset-10">
      <div class="content">
        <span><i class="fa fa-list"></i></span>
      </div>
    </div>
  </div>
  {{#each assets}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-9 col-sm-10">
          <a href="{{url}}">{{name}}</a>
        </div>
        <div class="col-xs-3 col-sm-2">
          <div class="content">
            <span><input type="checkbox" {{done}} /></span>
          </div>
        </div>
      </div>
    </li>
  {{/each}}
</template>
