<template name="home">
  <ul class="list-group">
    <li class="list-group-item">
      <a href="item/lecture-1">Lecture 1</a>
      <i class="fa fa-list pull-right"></i>
      <i class="fa fa-sticky-note-o pull-right"></i>
      <i class="fa fa-video-camera pull-right"></i>
    </li>
    <li class="list-group-item">
      <a href="item/lecture-2">Lecture 2</a>
      <i class="fa fa-list pull-right"></i>
      <i class="fa fa-sticky-note-o pull-right"></i>
      <i class="fa fa-video-camera pull-right"></i>
    </li>
  </ul>
</template>
